
/* ---------------------------------------------------------------------------*/
/* Layout Styles*/
/* ---------------------------------------------------------------------------*/



a:link {
   color: #000000;
   text-decoration: none;
}
a:visited {
   color: #000000;
   text-decoration: none;
}
a:hover {
   color: #990900;
   text-decoration: none;
}
a:active {
   color: #000000;
   text-decoration: none;
}
a img, a img.preview {
   border: none;
   text-decoration: none;
outline: none;
}
a:link img, a:visited img, a:hover img {
   border: none;
   text-decoration: none;
outline: none;
}
p {
   margin: 0px;
   -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   -hyphens: auto;
}
body {
   margin: 0px;
   width: 640px;
   height: 100%;
   text-align: center;

}	
html {
   margin: 0px;
   width: 640px;
   height: 100%;
}	



/* ---------------------------------------------------------------------------*/
/* Layout Standard Seite */
/* ---------------------------------------------------------------------------*/



#body_layout {
   margin-top: 0px;
   width: 640px;
   background-color: #ffffff;
}
#content {
   width: 640px;
   margin-top: 0px;
   margin-right: 0px;
   margin-left: 0px;
}
#content_entry {
   width: 540px;
   margin-top: 2px;
}
#content_entry_index {
   width: 540px;
   min-height: 340px;
   max-height: 340px;
   display: none;
   }
#content_gross {
   width: 640px;
   background-color: #ffffff;
}
.content_inhalt {
   width: 633px;
   padding-left: 7px;
}
#content_left {
   width: 640px;
   margin-top: 0px;
   padding-left: 0px;
   margin-bottom: 0px;
}
#content_main {
   width: 640px;
   margin-right: 0px;
   margin-left: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
   background-color: #ffffff;
   border-style: solid;
   text-align: left;
   border-width: 0px; 
   border-color: #cccccc
}




/* ---------------------------------------------------------------------------*/
/* Header */
/* ---------------------------------------------------------------------------*/



#header {
   background-color: #ffffff;
   width: auto;
   height: auto;
}
#header_datum {
   width: 290px;
   height: 11px; 
   text-align: center;
   margin-top: 17px;
   margin-left: -470px;
   position: absolute;
   background-color : transparent;
}
#header_icon {
   background-color: #ffffff;
   float: left;
   width: 0px;
   height: 0px;
   display: none;  
}
#header_jahr {
   background-color: #ffffff;
   float: left;  
   width: 0px;
   height: 0px; 
   display: none;
}
#header_schrift {
   background-color: #ffffff;
   float: left; 
   margin-top: 0px;
   margin-left: 0px;
   margin-bottom: 0px;
   width: 640px;
   height: 189px;
   background-image:url("../fotos/ub_schriftzug_mobile_640.png");
   background-repeat: no-repeat;
}
#header_suche {
   background-color: #ffffff; 
   width: 214px;
   height: 30px;
   margin-top: 74px;
   margin-left: -470px;
   position: absolute;
}
.header_suchfeld_style {
   background-color: #ffffff;
   font-size: 12px;
   color: #000000;
   width: 130px;
   height: 14px;
   background-repeat: no-repeat;
   background-position: left;
   margin-left: -470px;
   padding-left: 4px;
   padding-top: 2px;
   padding-bottom: 2px;
   border-left: 1px solid #999999;
   border-bottom: 1px solid #999999;
   border-right: 1px solid #999999;
   border-top: 1px solid #999999;
   position: absolute;
}
.header_suche_button { 
   color: #000000; 
   width: 24px; 
   height: 24px;
   background-image: url("http://www.xn--untergrund-blttle-2qb.ch/fotos/lupe.png");
   background-repeat: no-repeat;
   background-position: center;
   border-left: 0px #000000; 
   border-bottom: 0px #000000; 
   border-right: 0px #000000; 
   border-top: 0px #000000;
   cursor: pointer;
   position: absolute;
   }
#header_symbol {
   background-color: #ffffff;
   float: left;
   width: 0px;
   height: 0px; 
   display: none;
}



/* ---------------------------------------------------------------------------*/
/* Header Teaser */
/* ---------------------------------------------------------------------------*/



#header_teaser {
   background-color: #ffffff;
   margin-top: 0px;
   margin-left: 0px;
   width: 0px;
   height: 0px;
   border-width: 0px;
   display: none;
}
#header_teaser_left {
   margin-top: 0px;
   margin-left: 0px;
   width: 0px;
   display: none;
}
#header_teaser_middle {
   margin-bottom: 0px;
   margin-top: 0px;
   margin-top: 0px;
   padding-left: 0px;
   width: 0px;
   height: 0px;
   display: none;
}
#header_teaser_right {
   margin-top: 0px;
   padding-left: 0px;
   width: 0px;
   display: none;
}




/* ---------------------------------------------------------------------------*/
/* Layout Titel */
/* ---------------------------------------------------------------------------*/




#content_titel_entry {
   margin-right: 0px;
   margin-left: 0px;
   margin-bottom: 0px;
   width: 640px;
   border-top: 4px double;
   border-bottom: 4px double;
   border-color: #ececec;
}
#content_titel_text {
   width: 640px;
   margin-bottom: 0px;
   margin-left: 0px;
   float: left;
   background-color: #e0d6c4;
}
#content_titel_icon {
   width: 0px;
   height: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
   float: left;
   display: none;
}



/* ---------------------------------------------------------------------------*/
/* Teaser Entry */
/* ---------------------------------------------------------------------------*/



.content_entry_teaser {
   background-color: #ffffff;
   width: 0px;
   height: 0px; 
   display: none;
}
.teaser_entry_titel {
   width: 0px;
   height: 0px;
   float: left;
   display: none;
}
.teaser_entry_gross {
   width: 0px;
   width: 0px;
   float: left;
   display: none;
}
.teaser_entry_left {
   height: 0px;
   width: 0px;
   float: left;
   display: none;
}
.teaser_entry_right {
   height: 0px;
   width: 0px;
   float: left;
   display: none;
}
.teaser_entry_sep {
   height: 0px;
   width: 0px;
   display: none;
}



/* ---------------------------------------------------------------------------*/
/* Content Right */
/* ---------------------------------------------------------------------------*/




#content_right {
   background-color: #ffffff;
   width: 0px;
   height: 0px;  
   display: none;
}
.content_right_ad {
   background-color: #ffffff;
   width: 0px;
   height: 0px;  
   display: none;
}
.content_right_ad_inhalt {
   float: left;
   display: none;
}
.content_right_ad_inhalt_ende {
   float: left;
   display: none;
}




/* ---------------------------------------------------------------------------*/
/* Layout Diverse */
/* ---------------------------------------------------------------------------*/

#neue_artikel_1 {
   width: 626px;
   line-height: 14px;
   padding-top: 4px;
   padding-left: 7px;
   padding-right: 7px;
   padding-bottom: 6px;
   margin-top: 9px;
   margin-bottom: 9px;
   border-width: 8px;
   border-left: 0px;
   border-top: dotted;
   border-right: 0px;
   border-bottom: dotted;
   border-color: #ececec;
}	
#table_seite {
   text-align: center;
   margin-top: 20px;
   width: 320px;
   margin-left: auto;
   margin-right: auto;
}
#table_site {
   height: 0px;
   width: 0px;
   display: none;
}
#text_galerie {
   margin-top: 10px;
   width: 622px;
   margin-left: 18px;
}
#top {
   margin-top: 20px;
   width: 42px;
   height: 22px;
   margin-left: 580px;
   padding-left: 7px;
   border-style: dotted;
   text-align: left;
   border-width: 1px;
   border-color: #cccccc
}
#zurueck_icon {
   text-align: center;
   width: 0px;
   margin-top: 40px;
   margin-left: auto;
   margin-right: auto;
   display: none;
}	




/* ---------------------------------------------------------------------------*/
/* Content Seperator */
/* ---------------------------------------------------------------------------*/




.content_sep {
   margin-top: 18px;
   margin-bottom: 6px;
   height: 8px;
   width: 640px;
   border-width: 8px;
   border-top: double;
   border-color: #ececec;
}
.content_sep_2 {
   margin-top: 30px;
   margin-bottom: 30px;
   height: 6px;
   width: 120px;
   margin-left: 224px;
   background-image:url("../fotos/dotquer11.png");
}
.content_sep_3 {
   height: 6px;
   width: 170px;
   margin-top: 30px;
   margin-bottom: 30px;
   margin-left: auto;
   margin-right: auto;
   background-image:url("../fotos/dotquer_12.png");
}
.content_sep_index {
   margin-top: 17px;
   margin-left: 0px;
   margin-bottom: 10px;
   height: 7px;
   width: 640px;
   border-width: 8px;
   border-top: double;
   border-color: #ececec;
}
.content_sep_teaser {
   margin-top: 0px;
   margin-left: 0px;
   margin-bottom: 0px;
   height: 0px;
   width: 0px;
   display: none;
}
.content_sep_menu_3 {
   margin-top: 0px;
   margin-left: 0px;
   height: 0px;
   width: 0px;
   display: none;
}





/* -------------------------------------------------------------------------------------------------------------*/
/* Header Menu*/
/* -------------------------------------------------------------------------------------------------------------*/




#header_menu {
   background-color: #ffffff;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 0px;
   width: 0px;
   display: none;
}	
div#navcontainer
{
    background-color: #ffffff;
    margin-top: 0px;
    margin-left: 0px;
	width: 1px;
	height: 1px; 
    display: none;
}

div#navcontainer ul
{
    font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;	
    text-align: left;
    margin: 0px;
	width: 0px;
	height: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
	padding-left: 0px;
    display: none;
}

div#navcontainer ul li
{
    display: inline;
    margin-left: 0px;
	width: 0px;
	height: 0px;
	display: none;
}

div#navcontainer ul li a
{
    padding: 5px 10px 5px 10px;
    color: #333333;
    text-decoration: none;
	width: 0px;
	height: 0px;
    display: none;  
}

div#navcontainer ul li a:hover
{
    background-color: #666666;
	width: 0px;
	height: 0px;
    color: white;
	display: none;  
}

.active a { border-left: 0px solid #fff; }



div#menucontainer
{
    background-color: #333333;
    margin-top: 0px;
    margin-left: 0px;
	width: 0px;
	height: 0px;
	display: none;
}

div#menucontainer ul
{
    font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;	
    text-align: left;
	margin-top: 4px;
	width: 0px;
	height: 0px;
    padding-bottom: 6px;
    padding-top: 5px;
	padding-left: 4px;
	display: none; 
}

div#menucontainer ul li
{
    display: inline;
    margin-left: -4px;
	display: none;  
}

div#menucontainer ul li a
{
    padding: 5px 10px 6px 10px;
    color: #999999;
    text-decoration: none;

}

div#menucontainer ul li a:hover
{
    background-color: #666666;
    color: white;
}

.active a { border-left: 0px solid #fff; }



/* -------------------------------------------------------------------------------------------------------------*/
/* Footer Menu */
/* -------------------------------------------------------------------------------------------------------------*/



#footer_menu 
{
   background-color: #ffffff;
   margin-bottom: 40px;
   padding-bottom: 10px;
   border-top: dotted;
   border-bottom: dotted;
   border-width: 1px;
   border-color: #c9b798;
   width: 640px;
   height: auto;
}
div#navcontainer_footer
{
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: 20px;
	padding-top: 7px;
	padding-bottom: 5px;
	width: 600px;
	border-top: dotted;
	border-bottom: dotted;
    border-width: 1px;
    border-color: #cccccc;
}
div#navcontainer_footer ul
{
    font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;	
    text-align: left;
    padding-top: 2px;
	padding-bottom: 5px;
	padding-left: 50px;
	width: 550px;
}
div#navcontainer_footer ul li
{
    display: inline;
	padding-right: 20px;
    margin-bottom: 20px;
}
div#navcontainer_footer ul li a
{
    padding: 0px 0px 0px 0px;
    color: #333333;
    text-decoration: none;
}
div#navcontainer_footer ul li a:hover
{
    background-color: #ffffff;
    color: #000000;
	text-decoration: underline;
}

.active a { border-left: 0px solid #fff; }

div#menucontainer_footer
{
    background-color: #ffffff;
    margin-top: 14px;
    margin-left: 14px;
	width: 0px;
	display: none;
}
div#menucontainer_footer ul
{
    font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;	
    text-align: left;
	margin-top: 1px;
    margin: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
	padding-left: 4px;
	display: none;
}
div#menucontainer_footer ul li
{
    display: inline;
    margin-left: -4px;
}

div#menucontainer_footer ul li a
{
    padding: 5px 10px 6px 10px;
    color: #333333;
    text-decoration: none;

}
div#menucontainer_footer ul li a:hover
{
    background-color: #ffffff;
    color: #000000;
}

.active a { border-left: 0px solid #fff; }

.footer_menu_strich_1 {
   margin-top: 10px;
   margin-bottom: 14px;
   margin-right: 0px;
   margin-left: 0px;
   padding-right: 0px;
   text-align: left;
   height: 1px;
   width: 640px;
   background-color: #cccccc;
}
.footer_menu_strich_2 {
   margin-top: 14px;
   margin-bottom: 10px;
   margin-right: 0px;
   margin-left: 0px;
   padding-right: 0px;
   text-align: left;
   height: 1px;
   width: 640px;
   background-color: #cccccc;
}
.footer_menu_strich_3 {
   margin-top: 0px;
   margin-bottom: 0px;
   padding-right: 0px;
   text-align: left;
   height: 0px;
   width: 0px;
   display: none;
}


/* -------------------------------------------------------------------------------------------------------------*/
/* Footer Menu Table */
/* -------------------------------------------------------------------------------------------------------------*/



.footer_menu_table_1 {
   margin-top: 25px;
   text-align: left;
   width: 125px;
   height: 110px;
   margin-left: 90px;
   float: left;
   background-color: #ffffff;
}
.footer_menu_table_2 {
   margin-top: 22px;
   width: 320px;
   height: 90px;
   text-align: left;
   margin-bottom: 10px;
   float: left;
   background-color: #ffffff;
   border-right: dotted;
   border-width: 1px;
   border-color: #cccccc;
}
.footer_menu_table_3 {
   margin-top: 24px;
   width: 35px;
   height: 93px;
   text-align: left;
   margin-left: 70px;
   margin-bottom: 10px;
   float: left;
   background-color: #ffffff;
   border-right: dotted;
   border-width: 1px;
   border-color: #cccccc;
}
div.navcontainer_footer_menu_table
{
    background-color: #ffffff;
    margin-top: 4px;
	width: 104px;
	height: 80px;
}
div.navcontainer_footer_menu_table ul
{
    font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: normal;	
    text-align: left;
    width: 100px;
	display: list-item;
	list-style-type: none;
}
div.navcontainer_footer_menu_table ul li
{
    width: 100px;
	height: 15px;
	text-align: left;
	display: block;
}
div.navcontainer_footer_menu_table ul li a
{
    width: 100px;
    text-decoration: none;
}
div.navcontainer_footer_menu_table ul li a:hover
{
    color: #990900;
	text-decoration: none;
}
.active a { 
    text-align: left;
}



/* ---------------------------------------------------------------------------*/
/* Footer */
/* ---------------------------------------------------------------------------*/



#home {
   width: 62px;
   height: 23px;
   margin-left: 187px;
   border-style: dotted;
   border-width: 1px;
   border-color: #cccccc;
}
#footer {
   background-color: #ffffff;
   width: 640px;
   height: auto;
}
#footer_buttons {
   background-color: #ffffff;
   width: 90px;
   height: auto;
   margin-top: 7px;
   margin-left: 28px;
   margin-bottom: 8px;
   float: left; 
}
.footer_logo_1 {
   background-color: #ffffff;
   margin-top: 3px;
   margin-left: 242px;
   width: 150px;
   height: 40px;
   text-align: center;
}
.footer_sep_1 {
   margin-left: 193px;
   margin-bottom: 10px;
   height: 1px;
   width: 230px;
   border-top: solid;
   border-width: 1px;
   border-color: #e7e6e6;
}
.footer_sep_2 {
   margin-left: 213px;
   margin-top: 10px;
   height: 1px;
   width: 210px;
   border-top: solid;
   border-width: 1px;
   border-color: #e7e6e6;
}
.footer_sep_3 {
   margin-left: 0px;
   margin-top: 6px;
   margin-bottom: 0px;
   height: 2px;
   width: 640px;
   border-top: dotted;
   border-width: 2px;
   border-color: #e7e6e6;
}
.footer_sep_4 {
   height: 2px;
   width: 640px;
   border-top: dotted;
   border-width: 2px;
   border-color: #e7e6e6;
   display: none;
}
#footer_suche {
   background-color: #ffffff;
   margin-top: 11px;
   margin-left: 20px; 
   width: 190px;
   height: 30px;
   float: left;
   display: none;
}
.footer_suche_button { 
   background-color: #ffffff;
   color: #000000; 
   width: 24px; 
   height: 24px;
   background-image: url("http://www.xn--untergrund-blttle-2qb.ch/fotos/lupe.png");
   background-repeat: no-repeat;
   background-position: center;
   border-left: 0px #000000; 
   border-bottom: 0px #000000; 
   border-right: 0px #000000; 
   border-top: 0px #000000;
   cursor: pointer;
}
#footer_suche_logo {
   background-color: #ffffff;
   width: 620px;
   height: 90px;
   float: left;
   border-top: solid;
   border-bottom: solid;
   border-width: 1px;
   border-color: #e7e6e6;
}
.footer_suchfeld_style {
   background-color: #ffffff;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 11px; 
   color: #999999; 
   width: 130px; 
   height: 14px;
   background-repeat: no-repeat;
   background-position: left;
   margin-left: 4px;
   padding-left: 4px;
   padding-top: 2px;
   padding-bottom: 2px;
   border-left: 1px solid #999999; 
   border-bottom: 1px solid #999999; 
   border-right: 1px solid #999999; 
   border-top: 1px solid #999999;
}
#top {
   width: 42px;
   height: 23px;
   margin-left: 200px;
   margin-bottom: 28px;
   border-style: dotted;
   border-width: 1px;
   border-color: #cccccc;
}



/* --------------------------------------------------------------------------------------------------------------*/
/* Diverse Seiten */
/* --------------------------------------------------------------------------------------------------------------*/



/* ---------------------------------------------------------------------------*/
/* Archiv Seite */
/* ---------------------------------------------------------------------------*/



#content_archiv_cover {
	text-align: center;
	padding-left: 0px;	
	width: 0px;
	float: left;
	display: none;
}
#content_archiv_inhalt {
	text-align: center;	
	width: 620px;
	padding-top: 10px;
    padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	float: left;
}



/* ---------------------------------------------------------------------------*/
/* Audio Menu */
/* ---------------------------------------------------------------------------*/



#audio_menu_1 {
    width: 640px;
	margin-left: 0px;
	height: auto;
	margin-top: 40px;
}
.audio_menu_2{
    width: 640px;
	margin-left: 0px;
	margin-bottom: 5px;
	float: left;
}
.audio_text_1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}


/* ---------------------------------------------------------------------------*/
/* Box Content */
/* ---------------------------------------------------------------------------*/


#box_content {
   width: 190px;
   height: auto;
   margin-right: 10px;
   float: left;
   display: none;
}
.box_text {
   width: auto;
   height: auto;
   padding-left: 16px;
   padding-right: 20px;
   margin-bottom: 17px;
   display: none;
}
.box_titel {
   width: 170px;
   margin-top: 10px;
   margin-bottom: 10px;
   border-style: solid;
   text-align: center;
   border-width: 2px; 
   background-image:url("../fotos/content_strich_4.png");
   border-color: #e7e5e5;
   display: none;
}



/* ---------------------------------------------------------------------------*/
/* Buch Seite */
/* ---------------------------------------------------------------------------*/



#content_buch_1 {
	text-align: center;	
	width: 640px;
    margin-top: 34px;
}
.content_buch_2 {
	text-align: center;	
	width: 90px;
    padding-left: 155px;
    float: left;
}
#content_buch_text_1 {
	text-align: center;	
	width: 640px;
}
.content_buch_text_2 {
	text-align: center;	
	width: 90px;
    padding-left: 155px;
    float: left;
}



/* ---------------------------------------------------------------------------*/
/* Comic Seite */
/* ---------------------------------------------------------------------------*/



#content_comics_1 {
	text-align: center;	
	width: 640px;
    margin-top: 40px;
}
.content_comics_2 {
	text-align: center;	
	width: 240px;
	padding-left: 50px;
	float: left;
}
#content_comics_text_1 {
	width: 640px;
    margin-top: 14px;
	margin-bottom: 20px;
}
.content_comics_text_2 {
	text-align: center;	
	width: 240px;
	padding-left: 50px;
    float: left;
}
#comic_strip {
	text-align: center;	
	width: 640px;
    height: auto;
	margin-top: 20px;
    margin-left: auto;
	margin-right: auto;
}
#comic_titel {
	text-align: center;
	width: 304px;
    height: 76px;
    margin-left: auto;
	margin-right: auto;
}

/* ---------------------------------------------------------------------------*/
/* Event Seite */
/* ---------------------------------------------------------------------------*/



.content_events_head {
   width: 640px;
}
#content_events {
   width: 640px;
   margin-top: 0px;
   margin-right: 0px;
   background-image:url(../fotos/sig14_7.png)   
}
#content_events_entry {
   width: 640px;
   float: left; 
}



/* ---------------------------------------------------------------------------*/
/* Galerie Seite */
/* ---------------------------------------------------------------------------*/




#galerie_content {
	text-align: center;	
	width: auto;
	height: auto;
	display: block;
	margin-top: 12px;
	margin-bottom: 20px;
}	
.galerie_menu {
   padding-left: 0px;
   margin-top: 20px;
   margin-bottom: 20px;
   width: 160px;
   height: auto;
   text-align: center;
   float: left;
}


/* ---------------------------------------------------------------------------*/
/* Graffiti Seite */
/* ---------------------------------------------------------------------------*/




#graffiti_content {
	text-align: center;	
	width: 640px;
	height: auto;
	display: block;
	text-align: center;
	margin-top: 12px;
	margin-bottom: 20px;
}	
.graffiti_menu {
   padding-left: 30px;
   margin-top: 20px;
   margin-bottom: 20px;
   width: 170px;
   height: 113px;
   text-align: center;
   float: left;
}
.graffiti_schrift {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;	
	line-height: 1.2em;
	text-align: center;
	margin-top: 4px;
	color: #333333;
	display: block;
}



/* ---------------------------------------------------------------------------*/
/* Impressum Seite */
/* ---------------------------------------------------------------------------*/



#content_impressum {
   width: 633px;
   margin-top: 16px;
   margin-left: 0px;
   float: left;
   background-image:url(../fotos/sig14_2.gif)   
}




/* ---------------------------------------------------------------------------*/
/* International Seite */
/* ---------------------------------------------------------------------------*/



#international_content_menu {
	width: 420px;
    margin-top: 50px;
    margin-left: auto;
	margin-right: auto;
}
.international_content_1 {
	width: 70px;
	height: 55px;
	text-align: left;
	margin-left: 60px;
	float: left;
}
.international_content_2 {
	width: 70px;
	height: 55px;
	text-align: left;
	margin-top: 4px;
	margin-bottom: 40px;
    float: left;
}
.text_international {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-left: 0px;
	color: #CCCCCC;
	float: left;
}




/* ---------------------------------------------------------------------------*/
/* JFlow Slider Seite */
/* ---------------------------------------------------------------------------*/



#sliderContainer { 
    width: 640px; 
	min-height: 340px;
	max-height: 340px;
	position: relative; 
}
.slideContent {
	width: 640px; 
    height: 78px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0px; 
    right: 0px; 
    padding: 0px; 
	opacity: 0.7;
}
.jFlowNext { 
    background:url("http://www.xn--untergrund-blttle-2qb.ch/includes/scripts/j_flow_images/arrows_2.png") no-repeat scroll 0 -70px transparent; 
    height: 45px; 
	width: 50px;
    position: absolute; 
    top: 200px; 
    right: 10px;  
    cursor: pointer;
	opacity:0.5;
}

.jFlowPrev { 
    background: url("http://www.xn--untergrund-blttle-2qb.ch/includes/scripts/j_flow_images/arrows_2.png") no-repeat scroll -84px -70px transparent; 
	height: 45px;
	width: 50px;
    position: absolute;
    top: 200px; 
    left: 5px; 
    cursor: pointer;
	opacity:0.5;
}





/* ---------------------------------------------------------------------------*/
/* Kontakt Seite */
/* ---------------------------------------------------------------------------*/


#content_kontakt {
   width: 550px;
   margin-left: 45px;
   margin-top: 0px;
   background-image:url(../fotos/sig14_2.gif)   
}
#kontakt_absenden {
   text-align: center;
   width: auto;
   margin-top: 30px;
   margin-left: 148px;
}
#kontakt_email {
   text-align: center;
   width: 240px;
   margin-top: 58px;
   margin-left: 160px;
   margin-bottom: 40px;
}
#kontakt_formular {
   text-align: center;
   width: 420px;
   margin-top: 37px;
   margin-left: 70px;
   margin-right: auto;
}
#kontakt_textfeld_1 textarea {
    width: 340px;
    height: 60px;
    -moz-transition: height 2s;
	-webkit-transition:height 2s; 
	-o-transition:height 2s; 
	-ms-transition:height 2s; 
	transition:height 2s;
}
#kontakt_textfeld_1 textarea:focus {
    height: 200px;
}
#kontakt_ub_symbol {
   text-align: center;
   width: auto;
   margin-top: 7px;
   margin-left: 108px;
   margin-right: auto;
   float: left;
}
#kontakt_titel {
   text-align: center;
   width: auto;
   margin-top: 49px;
   margin-bottom: 20px;
   margin-left: 80px;
   margin-right: auto;
   float: left;
}



/* ---------------------------------------------------------------------------*/
/* Link Menu */
/* ---------------------------------------------------------------------------*/


#link_menu_1 {
   height: 0px;
   width: 0px;
   display: none;
}
#links {
   height: 0px;
   width: 0px;
   display: none;
}	


/* ---------------------------------------------------------------------------*/
/*  Propaganda Seite */
/* ---------------------------------------------------------------------------*/



#propaganda_titel {
	text-align: center;
	width: 200px;
    height: 70px;
	margin-top: 20px;
	margin-bottom: 30px;
    margin-left: auto;
	margin-right: auto;
}
#propaganda_strip {
	text-align: center;
	width: auto;
    height: auto;
    margin-left: auto;
	margin-right: auto;
}



/* ---------------------------------------------------------------------------*/
/* Sound Seite */
/* ---------------------------------------------------------------------------*/




#sound_content {
	width: 633px;
    margin-top: 10px;
	margin-bottom: 0px;
}
#sound_cover {
   text-align: center;	
   width: 113px;
   height: 113px;
   margin-left: 50px;
   float: left;
}
#sound_symbol {
   width: 0px;
   height: 0px;
   text-align: center;
   display: none;
}
#sound_symbol_2 {
   width: 0px;
   height: 0px;
   text-align: center;
   display: none;
}
#sound_text {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   width: 320px;
   margin-top: 40px;
   margin-bottom: 20px;
}
#sound_content_menu {
	text-align: center;
	padding-left: 70px;	
	width: auto;
	height: auto;
	margin-bottom: 40px;
}
.sound_menu_1 {
   margin-top: 20px;
   width: 70px;
   height: 90px;
   text-align: center;
   float: left;
}
.sound_menu_2 {
   padding-left: 10px;
   padding-right: 15px;
   margin-top: 20px;
   width: 140px;
   height: 90px;
   text-align: left;
   float: left;
}	



/* ---------------------------------------------------------------------------*/
/* Tabelle Menu */
/* ---------------------------------------------------------------------------*/



#tabelle_menu_1 {
    width: 640px;
	margin-top: 40px;
	margin-left: 0px;
}
.tabelle_menu_2{
    width: 220px;
	margin-left: 80px;
	margin-bottom: 5px;
	float: left;
}
.text_tabelle_1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
}


/* ---------------------------------------------------------------------------*/
/* Video Seite */
/* ---------------------------------------------------------------------------*/




#video_content {
	text-align: center;	
	width: 640px;
	height: auto;
	display: block;
	text-align: center;
	margin-top: 12px;
	margin-bottom: 20px;
}	
.video_menu {
   padding-left: 0px;
   margin-top: 20px;
   width: 160px;
   height: 113px;
   text-align: center;
   float: left;
}	  
#video_content_politik {
	text-align: center;
	padding-left: 70px;	
	width: auto;
	height: auto;
	display: block;
	text-align: center;
	margin-top: 12px;
	margin-bottom: 20px;
}
.video_politik_1 {
   margin-top: 20px;
   width: 100px;
   height: 113px;
   text-align: center;
   float: left;
}
.video_politik_2 {
   padding-left: 10px;
   padding-right: 15px;
   margin-top: 20px;
   width: 100px;
   height: 113px;
   text-align: center;
   float: left;
}	  
.video_schrift {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 3px;
	text-align: center;
	color: #333333;
}



/* ---------------------------------------------------------------------------*/
/* Abstand zu eingefuegten Bildern */
/* ---------------------------------------------------------------------------*/


.img_box_float_l_01 {
   width: 150px; 
   height: auto;
   float: left;
   margin-top: 0px;
   padding-left: 7px;
   margin-right: 10px;
   margin-bottom: 12px;
}
.img_box_float_l_02 {
   width: 190px; 
   height: auto;
   float: left;
   margin-top: 0px;
   padding-left: 7px;
   margin-right: 10px;
   margin-bottom: 12px;
}
.img_box_float_l_03 {
   width: 250px; 
   height: auto;
   float: left;
   margin-top: 0px;
   padding-left: 7px;
   margin-right: 10px;
   margin-bottom: 12px;
}
.img_box_float_l_04 {
   width: 290px; 
   height: auto;	
   float: left;
   margin-top: 0px;
   padding-left: 7px;
   margin-right: 10px;
   margin-bottom: 12px;
}
.img_box_float_l_05 {
   width: 320px; 
   height: auto;
   float: left;
   margin-top: 0px;
   padding-left: 7px;
   margin-right: 10px;
   margin-bottom: 12px;
}
.img_box_float_l_06 {
   width: 320px; 
   height: auto;
   margin-top: 16px;
   padding-left: 7px; 
   margin-bottom: 12px;  
}
.img_box_float_l_07 {
   width: 640px; 
   height: auto;	
   float: left;
   margin-top: 2px;
   margin-bottom: 12px;
}
.img_box_float_l_01 p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   color: #333333;
   margin-top: 2px;
}
.img_box_float_l_02 p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   color: #333333;
   margin-top: 2px;
}
.img_box_float_l_03 p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   color: #333333;
   margin-top: 2px;
}
.img_box_float_l_04 p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   color: #333333;
   margin-top: 2px;
}
.img_box_float_l_05 p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   color: #333333;
   margin-top: 2px;
}
.img_box_float_l_06 p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   color: #333333;
   margin-top: 2px;
}
.img_box_float_l_07 p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   color: #333333;
   margin-top: 2px;
}



/* -----------------------------------------------------*/
/* loescht das Floating */
/* ----------------------------------------------------*/



div.clearer {
  clear: left; 
  line-height: 0px; 
  height: 0px;
}




/* ----------------------------------------------------------------------------------*/
/*              Text Styles*/
/* /* ----------------------------------------------------------------------------------*/


.float_left {
   float: left;
}
h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 22px;
	font-weight: bold;
	word-spacing: 0.1em;
	line-height: 1.2em;
	color: #333333;
	text-align: left;
	margin-top: 8px; 
	margin-bottom: 6px;
	margin-left: 7px;
	margin-right: 10px;
}
h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	font-weight: bold;
	word-spacing: 0.1em;	
	line-height: 1.2em;
	color: #666666;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 7px;
	margin-right: 10px;
}
h3  {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 21px;
	font-weight: bold;	
	line-height: 1.2em;
	color: #000000;
	text-align: left;
	margin-top: 0px;
	margin-right: 10px;
	margin-left: 0px;
    margin-bottom: 14px;
}
h4 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #333333;	
	margin-left: 7px;
	margin-right: 10px;
	line-height: 1.2em;
	text-align: center;
	margin-top: 14px;
	margin-bottom: 16px;
}
h5 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	font-weight: bold;	
	color: #CCCCCC;
	line-height: 1.2em;
	text-align: center;
	margin-top: 24px;

}
h6 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 22px;
	font-weight: bold;	
	line-height: 1.2em;
	margin-left: 7px;
	margin-right: 10px;
	color: #333333;
	text-align: center;
	margin-top: 24px;
    margin-bottom: 20px;
}
.links_mehr {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	padding-left: 24px;
	}
	a.links_mehr:link  {
	color: #990900;
	text-decoration: none;
	}
	a.links_mehr:visited {
	color: #990900;
	text-decoration: none;
	}
	a.links_mehr:hover {
	color: #990900;
	text-decoration: none;
	}
	a.links_mehr:active {
	color: #990900;
	text-decoration: none;
}
.text_aktuelle_artikel_1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	line-height: 18px;
	text-align: left;
	display: list-item;
	list-style-type: disc;
	margin-left: 28px;
    }
	a.text_aktuelle_artikel_1:link  {
	color: #990900;
	text-decoration: none;
	}
	a.text_aktuelle_artikel_1:visited {
	color: #990900;
	text-decoration: none;
	}
	a.text_aktuelle_artikel_1:hover {
	color: #990900;
	text-decoration: underline;
	}
	a.text_aktuelle_artikel_1:active {
	color: #990900;
	text-decoration: underline;
}
.text_aktuelle_artikel_titel_1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	word-spacing: 0.1em;
	font-weight: bold;
	color: #000000;
	text-align: left;;
	margin-left: 14px;
	margin-right: 20px;
	margin-bottom: 10px;
}
.text_aktuelle_artikel_index_1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	text-align: left;
	display: inline;
	margin-left: 0px;
    }
	a.text_aktuelle_artikel_index_1:link  {
	color: #990900;
	text-decoration: none;
	}
	a.text_aktuelle_artikel_index_1:visited {
	color: #990900;
	text-decoration: none;
	}
	a.text_aktuelle_artikel_index_1:hover {
	color: #000000;
	text-decoration: underline;
	}
	a.text_aktuelle_artikel_index_1:active {
	color: #000000;
	text-decoration: underline;
}
.text_aktuelle_artikel_index_titel_1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	word-spacing: 0.1em;
	font-weight: bold;
	color: #999999;
	text-align: left;;
	margin-left: 0px;
	margin-right: 4px;
	display: inline;
}
.text_aktuelle_artikel_trennstrich_1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	line-height: 11px;
	text-align: left;
	display: inline;
	margin-left: 4px;
	margin-right: 4px;
}
.text_audio_autor_center {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;	
	line-height: 1.5em;
	text-align: center;
	color: #666666;
}
.text_autor_right_italic {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-style: italic;
	word-spacing: 0.1em;
	color: #000000;	
	line-height: 1.2em;
	margin-top: 50px;
	margin-right: 10px;
	font-weight: normal;
	text-align: right;
}
.text_archiv {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-style: normal;
	word-spacing: 0.1em;
	letter-spacing: normal;
	line-height: 1.2em;
	color: #000000;
	margin-left: 7px;
	margin-right: 14px;
	font-weight: normal;
	text-align: left;
}
.text_archiv_center {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-style: normal;
	word-spacing: 0.1em;
	color: #000000;	
	line-height: 1.2em;
	margin-right: 10px;
	margin-left: 7px;
	font-weight: normal;
	text-align: center;
}
.text_archiv_center_italic {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-style: italic;
	word-spacing: 0.1em;
	color: #000000;	
	line-height: 1.2em;
	margin-right: 10px;
	margin-left: 7px;
	font-weight: normal;
	text-align: center;
}
.text_archiv_left_italic {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: italic;
	word-spacing: 0.1em;
	color: #000000;	
	line-height: 1.5em;
	margin-right: 7px;
	margin-left: 7px;
	font-weight: normal;
	text-align: left;
}
.text_archiv_right_italic {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-style: italic;
	word-spacing: 0.1em;
	color: #000000;	
	line-height: 1.2em;
	margin-right: 10px;
	font-weight: normal;
	text-align: right;
}
.text_archiv_right {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-style: normal;
	word-spacing: 0.1em;
	line-height: 1.2em;
	color: #000000;
	margin-left: 7px;
	margin-right: 10px;
	margin-bottom: 7px;
	font-weight: normal;
	text-align: right;
}
.text_bild_01 {
	width: 150px;
	height: auto;
	display: none;
}
.text_bild_02 {
	width: 190px;
	height: auto;
	display: none;
}
.text_bild_03 {
	width: 250px;
	height: auto;
	display: none;
}
.text_bild_04 {
	width: 290px;
	height: auto;
	display: none;
}
.text_bild_05 {
	width: 320px;
	height: auto;
	display: none;
}
.text_bild_06 {
	width: 320px;
	height: auto;
	display: none;
}
.text_bild_07 {
	width: 190px;
	height: auto;
	margin-bottom: 15px;
	display: none;
}
.text_bild_01_h {
	width: 150px;
	height: auto;
}
.text_bild_02_h {
	width: 190px;
	height: auto;
}
.text_bild_03_h {
	width: 250px;
	height: auto;
}
.text_bild_04_h {
	width: 290px;
	height: auto;
}
.text_bild_05_h {
	width: 320px;
	height: auto;
}
.text_bild_06_h {
	width: 320px;
	height: auto;
}
.text_bild_07_h {
	width: 180px;
	height: auto;
	margin-bottom: 15px;
}
.text_bild_autor{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	border: 0px;
	color: #333333;
    margin-right: 15px;
}
.text_bild_comic {
	width: 624px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: center;
	display: none;
}
.text_bild_comic_h {
	width: 624px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: center;
}
.text_bild_footer_logo_1 {
	margin-bottom: 0px;
}
.text_bild_galerie {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 10px;
}
.text_bild_header_schrift {
	width: 0px;
	height: 0px;
	float: left;
}
.text_bild_header_teaser_middle {
	width: 0px;
	height: 0px;
	float: left;
}
.text_bild_inhalt {
	width: 181px;
	height: auto;
    margin-right: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
	float: left;
}
.text_bild_jflow {
	width: 640px;
	height: auto;
}
.text_bild_international {
    margin-right: 10px;
	margin-top: 3px;
	margin-bottom: 9px;
	float: left;
}
.text_bild_propaganda {
	width: 624px;
	height: auto;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: center;
	display: none;
}
.text_bild_propaganda_h {
	width: 624px;
	height: auto;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: center;
}
.text_bild_sound {
    margin-right: 15px;
	text-align: left;
	display: block;
}
.text_bild_sound_logo {
	text-align: center;
	margin-top: 14px;
	margin-bottom: 7px;
}
.text_bild_teaser {
    margin-right: 15px;
	margin-top: 3px;
	margin-bottom: 9px;
	float: left;
}
.text_bild_titel_icon {
    width: 0px;
	height: 0px;
	margin-top: 10px;
	padding-top: 0px;
	text-align: center;
}
.text_datum {
    font-family: Verdana, Geneva, sans-serif;
	color: #666666;
	font-size: 12px;
	font-style: normal;
	text-align: center;
}
.text_coin_slider_titel {
	line-height: 18px;
	display: inline;
	-moz-hyphens: none;
    -o-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    -hyphens: none;	
}
.text_footer_home {
    font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin-left: 7px;
	color: #6f6f6f;
}
	a.text_footer_home:link  {
	color: #333333;
	text-decoration: none;
	}
	a.text_footer_home:visited {
	color: #333333;
	text-decoration: none;
	}
	a.text_footer_home:hover {
	color: #990900;
	text-decoration: none;
	}
	a.text_footer_home:active {
	color: #333333;
	text-decoration: none;
}
.text_footer_menu_table {
    font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	word-spacing: 0.1em;
	font-weight: bold;
	color: #000000;
	margin-left: 40px;
}
.text_footer_top {
    font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin-left: 0px;
	color: #6f6f6f;
}
	a.text_footer_top:link  {
	color: #333333;
	text-decoration: none;
	}
	a.text_footer_top:visited {
	color: #333333;
	text-decoration: none;
	}
	a.text_footer_top:hover {
	color: #990900;
	text-decoration: none;
	}
	a.text_footer_top:active {
	color: #333333;
	text-decoration: none;
}
.text_fussnote {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	word-spacing: 0.1em;
	word-wrap: break-word;
	border: 0px;
	color: #333333;
	margin-top: 70px;
	margin-right: 10px;
	margin-left: 7px;
}
.text_fussnote_center{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	word-spacing: 0.1em;
	word-wrap: break-word;
	color: #333333;
	margin-top: 70px;
    margin-right: 15px;
	text-align: center;
}
.text_galerie {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	border: 0px;
	color: #333333;
	text-align: center;
	display: block;
}
.text_galerie_link {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #222222;
	display: block;
	text-align: center;
    }
	a.text_galerie_link:link  {
	color: #333333;
	text-decoration: none;
	}
	a.text_galerie_link:visited {
	color: #333333;
	text-decoration: none;
	}
	a.text_galerie_link:hover {
	color: #990900;
	text-decoration: none;
	}
	a.text_galerie_link:active {
	color: #990900;
	text-decoration: none;
	}
.text_genre_center {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 22px;
	line-height: 1.5em;
	font-weight: bold;
	color: #999999;
	text-align: center;
	margin-bottom: 17px;
	margin-right: 24px;
}
.text_genre_center_graffiti {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	word-spacing: 0.1em;
	line-height: 1.4em;
	font-weight: bold;
	color: #999999;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 24px;
}
.text_genre_center_gross {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	word-spacing: 0.1em;
	line-height: 1.4em;
	font-weight: bold;
	color: #999999;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 17px;
}
.text_genre_right {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 21px;
	line-height: 1.5em;
	font-weight: bold;
	color: #999999;
	text-align: right;
	margin-bottom: 17px;
	margin-right: 30px;
}
.text_genre_galerie {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 19px;
	word-spacing: 0.1em;
	line-height: 1.4em;
	font-weight: bold;
	color: #999999;
	text-align: right;
	margin-top: 14px;
	margin-bottom: 14px;
	margin-right: 24px;
}
.text_header_teaser {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #000000;	
	line-height: 1.2em;
	margin-left: 7px;
	margin-right: 10px;
	text-align: left;
}
.text_inhalt {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	word-wrap: break-word;
	color: #000000;	
	line-height: 1.2em;
	margin-left: 0px;
	margin-right: 10px;
	text-align: left;
}
.text_jflow_lead_1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
    font-weight: normal;
	color: #000000;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 14px;
	line-height: 18px;
	display: block; 
}
.text_jflow_titel_1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	line-height: 18px;
	margin-left: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: bold;
	display: block;
}
	a.text_jflow_titel_1:link  {
	color: #990900;
	text-decoration: none;
	}
	a.text_jflow_titel_1:visited {
	color: #990900;
	text-decoration: none;
	}
	a.text_jflow_titel_1:hover {
	color: #990900;
	text-decoration: underline;
	}
	a.text_jflow_titel_1:active {
	color: #990900;
	text-decoration: underline;
}
.text_lead_center {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 21px;
	font-weight: bold;	
	line-height: 1.2em;
	word-spacing: 0.1em;
	color: #666666;
	text-align: center;
	margin-bottom: 12px;
	margin-left: 7px;
	margin-right: 10px;
}
.text_lead_in {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	word-spacing: 0.1em;
	margin-right: 10px;
	margin-left: 7px;	
	line-height: 1.2em;
	color: #000000;	
	text-align: left;
}
.text_lead_in_center {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	word-spacing: 0.1em;
	line-height: 1.2em;
	color: #000000;	
	text-align: center;
}
.text_lead_in_l {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	word-spacing: 0.1em;
	line-height: 1.2em;
	margin-left: 7px;
	margin-right: 10px;
	color: #000000;	
	text-align: left;
}
.text_lead_in_r {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	word-spacing: 0.1em;
	line-height: 1.5em;
	margin-left: 7px;
	margin-right: 10px;
	color: #000000;	
	text-align: right;
}
.text_link_center {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	word-spacing: 0.1em;
	line-height: 1.2em;
	margin-left: 7px;
	margin-right: 10px;
	color: #000000;	
	text-align: center;
}
.text_links {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #cccccc;
}
.text_links_center {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #cccccc;
	font-weight: bold;
	text-align: center;
}
.text_links_l {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #cccccc;
	font-weight: bold;
	text-align: center;
}
.text_links_r {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #cccccc;
	font-weight: bold;
	text-align: center;
}
.text_lyrik {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-style: normal;
	word-spacing: 0.1em;
	line-height: 1.2em;
	color: #000000;
	margin-left: 7px;
	margin-right: 10px;
	font-weight: normal;
	text-align: center;
}
.text_suche {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	word-spacing: 0.1em;
	color: #000000;	
	line-height: 1.5em;
	margin-right: 10px;
	text-align: left;
}
.search_title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 2px;
	}
	a.search_title:link  {
	color: #333333;
	text-decoration: none;
	}
	a.search_title:visited {
	color: #333333;
	text-decoration: none;
	}
	a.search_title:hover {
	color: #990900;
	text-decoration: none;
	}
	a.search_title:active {
	color: #333333;
	text-decoration: none;
	}
.text_suchfeld {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #000000;	
	line-height: 1.5em;
	margin-right: 10px;
	text-align: left;
}
.text_teaser_ad_titel{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 17px;
	font-weight: normal;	
	line-height: 1.5em;
	text-align: left;
	padding-top: 16px;
	padding-left: 20px;
	padding-right: 19px;
	color: #990900;
}
.text_teaser_ad {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: normal;	
	line-height: 1.4em;
	text-align: left;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 20px;
	padding-right: 19px;
	color: #000000;
}
.text_titel_zwischen {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 19px;
	word-spacing: 0.1em;
	margin-top: 14px;
	margin-left: 7px;
	margin-right: 10px;
	margin-bottom: 14px;
	font-weight: bold;	
	line-height: 1.2em;
	color: #222222;
	text-align: left;
}
.text_titel_zwischen_center {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 19px;
	word-spacing: 0.1em;
	margin-top: 14px;
	margin-bottom: 14px;
	margin-left: 7px;
	margin-right: 10px;
	line-height: 1.2em;
	font-weight: bold;
	color: #222222;
	text-align: center;
}
.text_titel_zwischen_center_hellgrau {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	word-spacing: 0.1em;
	line-height: 1.5em;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
}
.titel_ueberschrift {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	line-height: 1.4em;
	font-weight: bold;
	color: #990900;
	text-align: left;
	margin-right: 10px;
	padding-bottom: 6px;
	display: block;
    }
	a.titel_ueberschrift:link  {
	color: #990900;
	text-decoration: none;
	}
	a.titel_ueberschrift:visited {
	color: #990900;
	text-decoration: none;
	}
	a.titel_ueberschrift:hover {
	color: #990900;
	text-decoration: none;
	}
	a.titel_ueberschrift:active {
	color: #990900;
	text-decoration: none;
	}

