<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>UB Search Application</display-name>

    <servlet>
        <servlet-name>UBSearchServlet</servlet-name>
        <servlet-class>ch.ub.servlet.UBSearchServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UBSearchServlet</servlet-name>
        <url-pattern>/ubsearch</url-pattern>
    </servlet-mapping>

</web-app>     